body {
  padding: 0 50px;
  background-color: hwb(61 0% 0% / 0.575);
  font-family: sans-serif;
  text-align: justify;
}

h1 {
  margin: 0;
  font-family:'Trebuchet MS';
  font-size: 3rem;
  text-align: center;
  color: hwb(19 0% 0%);
}

h2 {
  margin: 0;
  color:hwb(32 2% 21%);
  font-family: 'Times New Roman';
  font-size: 3rem;
  text-transform: capitalize;
  text-shadow: 3px 3px black;
}

strong {
  padding: 0 10px;
  color: red;
}

i {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
}

time {
  color: blue;
}

img {
  border: hwb(24 4% 6%) 5px solid;
  padding: 5px;
}

img.izquierda {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.derecha {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

p.izquierda {
  float: left;
  width: 33%;
}

p.centrado {
  text-align: center;
}

hr {
  clear: both;
  width: 66%;
  height: 10px;
  border: black 1px solid;
  border-radius: 5px;
  margin: 40px auto;
  background-color: hwb(24 4% 6%);
}

address {
  text-align: right;
  font-style: normal
}